<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="navigationManagementAction" class="com.news.navigation.action.NavigationManagementAction"
		scope="prototype">
		<property name="navigationManagementService" ref="navigationManagementService"></property>
	</bean>
	<bean id="navigationManagementService" class="com.news.navigation.service.impl.NavigationManagementServiceImpl">
		<property name="navigationManagementDao" ref="navigationManagementDao"></property>
	</bean>
	<bean id="navigationManagementDao" class="com.news.navigation.dao.impl.NavigationManagementDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>